.steps{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.step h3{
    font-size: 28px;
    margin-bottom: 16px;
    color: var(--primary);
}
.step p{
    font-size: 22px;
}
.steps::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 10%;
    right: 10%;
    height: 4px;
    background-color: var(--gray-light);
    z-index: 1;
}
.step{
    flex-basis: 31%;
    position: relative;
    text-align: center;
    z-index: 2;
    flex: 1;
}
.step-number{
    width: 120px;
    height: 120px;
    background-color: var(--primary);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 24px;
    font-size: 42px;
    font-weight: 700;
}


/* ------------- media query ------------- */

@media (max-width: 860px){
    .steps{
        flex-direction: column;
    }
    .step{
        flex-basis: 100%;
        margin: 20px;
    }
    .steps::before{
        display: none;
    }
}