.feedback{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feedback-col{
    flex-basis: 48%;
    color: #676767;
}
.feedback-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.feedback-col h3 img{
    width: 35px;
    margin-left: 10px;
}
.feedback-col p{
    max-width: 450px;
    list-style: 0.3;
}
.feedback-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.feedback-col li img{
    width: 25px;
    margin-right: 10px;
}
.feedback form input, .feedback form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.feedback-col span{
    display: block;
    margin: 20px 0;
}


/* ------------- media query ------------- */

@media (max-width: 700px){
    .feedback{
        display: block;
    }
    .feedback-col{
        padding: 20px;
    }
}