.footer{
    padding: 4rem 0 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}
.footer-links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer-link-wrapper{
    display: flex;

}
.footer-link-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}
.footer-link-items h2{
    margin-bottom: 16px;
}
.footer-link-items > h2{
    color: #fff;
}
.footer-link-items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 14px;
}
.footer-link-items a:hover{
    color: #e9e9e9;
    transition: 0.3s ease-out;
}
/* Social icons*/
.social-media{
    max-width: 1000px;
    width: 100%;
}
.social-media-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
.social-icons img{
    width: 40px;
}
.website-rights{
    color: #fff;
    margin: 8px 0 8px 0;
}
.facebook{
    margin-bottom: 4px;
}

/* ------------- media query ------------- */
@media screen and (max-width: 820px){
    .footer-links{
        padding-top: 2rem;
    }
    .footer-link-wrapper{
        flex-direction: column;
    }
    .social-media-wrap{
        flex-direction: column;
    }

}
@media (max-width: 600px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}