.demo{
    border: 3px dashed var(--gray);
    border-radius: var(--border-radius);
    padding: 60px 20px;
    text-align: center;
    background-color: white;
    transition: var(--transition);
    margin: 80px auto;
    width: 60%;
}
.demo:hover{
    border-color: var(--primary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.demo h3{
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--primary);
}
.suported-formats{
    margin-top: 4px;
    color: var(--gray-light);
}
.sample-docs img{
    width: 50px;
}
.sample-docs{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px 0;
}
.sample-doc{
    padding: 12px 20px;
    background-color: var(--gray-light);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: var(--transition);
}
.sample-doc:hover{
    background-color: var(--primary-light);
    color: white;
}

@media (max-width: 650px){
    .demo{
        width: 90%
    }
}

@media (min-width: 650px) and (max-width: 850px){
    .demo{
        width: 70%
    }
}